[licenses]
allow = [
  "MIT",
  "CC0-1.0",
  "ISC",
  "OpenSSL",
  "Unlicense",
  "BSD-2-Clause",
  "BSD-2-Clause-Patent",
  "BSD-3-Clause",
  "Apache-2.0",
  "Apache-2.0 WITH LLVM-exception",
  "Zlib",
  "Unicode-DFS-2016",
  "Unicode-3.0",
]
unused-allowed-license = "allow"

[sources]
unknown-git = "deny"
allow-git = ["https://github.com/DataDog/saluki"]

[advisories]
version = 2
ignore = [
  "RUSTSEC-2024-0370", # proc-macro-error is unmaintained
  "RUSTSEC-2024-0384", # instant crate is unmaintained
  "RUSTSEC-2024-0387", # opentelemetry_api is unmaintained
  "RUSTSEC-2024-0436", # paste is unmaintained
]

[bans]
multiple-versions = "allow"
