name: Security Audit


# The clippy-check job requires this permission to properly surface failures
permissions:
  checks: write

on:
  pull_request:
  push:
    branches:
      - main
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions-rust-lang/audit@410bbe6de17ca06c0a60070cca18c88b485ca5a1 # v1.2.6
        with:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
