name: Security Audit


# The clippy-check job requires this permission to properly surface failures
permissions:
  checks: write

on:
  pull_request:
  push:
    branches:
      - main
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions-rust-lang/audit@72c09e02f132669d52284a3323acdb503cfc1a24 # v1.2.7
        with:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
